strict-peer-dependencies=false
auto-install-peers=true
# Prisma + Next both ship postinstall build steps we actually want to run.
enable-pre-post-scripts=true
link-workspace-packages=true
prefer-workspace-packages=true
